@charset "gb2312";
u{display:none;}
a u{display:inline;}
body{ background:#fff;}
body,div,form,img,p,h1,h2,h3,h4,h5,h6,span,ul,li{margin:0px;padding:0px;border:0px;font-size:14px;line-height:22px;font-family:"풻",arial;color:#000;}
p{word-wrap:break-word;}.cl{clear:both;height:6px;}.fs{font-size:12px;}.fb{font-weight:bold;}.fn{font-weight:normal;}.tc{text-align:center;padding:3px 0px;}.f14{font-size:14px;}.pl3{padding:5px 0px 3px 5px;}
a{color:#000;text-decoration:none;}
a:visited { color:#000;text-decoration:none; }
a:hover { color:#000;text-decoration:none;}
a:active { color:#000;text-decoration:none;background:#F1E1B6; }

.cb{color:#000;}.fred{color:#b0251e;}.c6{color:#666;}.fred0{color:#FF0000;}.cy{color:#ff8400;}.fblue{color:#0074c5;}.bgf6{background:#ececec;}

.top{padding:20px 3px 5px;}
.top .name{font-weight:bold;color:#ff9000;}

.mtop{ height:40px; line-height:40px; overflow:hidden; text-align:center; background:#8E7A55;  position:fixed; z-index:9; top:0px; left:0px; width:100%; padding:0px;}

.mindex{ width:34px; height:34px; display:inline-block; float:left; background:url(../images/mindex.png) no-repeat; }
.mmenu{width:34px; height:34px; display:inline-block; float:right; background:url(../images/mmenu.png) no-repeat; }
.mTitle{ display:inline-block; height:34px; line-height:34px; color:#D9CEEC; font-weight:bold; font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu; cursor:pointer; }
.mTitle a{ color:#D9CEEC;}
.mTitle .htitle1{ font-size:18px; color:#D9CEEC; font-style:normal;  display:inline-block;}
.mTitle i,.mTitle .htitle111{ font-size:15px; font-style:normal; display:inline-block; color:#D9CEEC;}

.mnav{ padding:5px; background:#C8B7E3; overflow:hidden; display:none; position:fixed; z-index:9; top:34px;  }
.mnav a{ display:inline-block; color:#68593E; font-size:13px; height:28px; line-height:28px; width:65px; overflow:hidden; font-weight:bold;}

.tab{background:#CDF5D3;padding:5px 0px 5px 5px;}
.nav{background:#8E7A55;color:#fff; line-height:32px;}
.searchInput{ border:1px solid #ccc; padding:3px; background:#fff; width:200px;  border-radius:5px; height:24px; margin-right:5px; line-height:24px; float:left;}
.searchBtn{ border:1px solid #ccc; height:32px; line-height:32px; width:60px; background:#eee; border-radius:5px; float:left;}
.fff{color:#fff;}
.link{color:#fff; }
.link a,.link a:link{color:#fff;margin:0px 6px; display:inline-block; line-height:32px; font-size:17px;}
.search{background:#EBD79C;padding:5px 0px 5px 5px; overflow:hidden; margin-top:40px; }
.kind{background:#F1E1B6; height:32px; line-height:32px; border-bottom:1px solid #D7C181; overflow:hidden; padding:0 5px 0 0;}

.articleInfo{ height:24px; line-height:24px; text-align:center; color:#999; background: #EBD79C; font-size:13px;  font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu; cursor:pointer; }

.kind h2{line-height:normal;color:#D50000; float:left; margin:0; padding:0; font-style:normal; display:inline-block;  height:32px; line-height:32px; margin-right:15px; background:#fff; padding:0 10px; font-size:13px; font-weight:bold; border-left:5px solid #8E7A55;}
.kind span{font-weight:normal;padding-left:8px; float:right; display:inline-block; line-height:32px; text-decoration:underline;}

.kind h1{line-height:normal;color:#D50000; float:left; margin:0; padding:0; font-style:normal; display:inline-block;  height:32px; line-height:32px; margin-right:15px; background:#EBD79C; padding:0 10px; font-size:13px; font-weight:bold; border-left:5px solid #8E7A55;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-shadow:1px 1px #fff;}

.kind h1.h11{ text-align:center; font-size:17px; display:block; width:100%; font-weight:bold; font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu; border-left:0; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-shadow:1px 1px #fff}

.red{ color:#F00;}
.kind span{font-weight:normal;padding-left:8px; float:right; display:inline-block; line-height:32px; text-decoration:underline;}
.articleContent{ padding:10px 10px 0 10px; font-size:16px;  font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu; }
.articleContent a{ color:#000; text-decoration:none; }
.articleContent a u{ text-decoration:none; color:#0077B0;}
.articleContent img{ width:90%; text-align:center; margin:0px auto; display:block;}
.articleContent p{ line-height:165%; margin-bottom:15px; font-size:17px;  font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu; }
.articleContent p img{ text-align:center; margin:0px auto;}
.mingzhuPage{ text-align:center; margin:auto; width:100%;  overflow:hidden; border:1px solid #ccc;  border-left:0px; border-right:0px;background:#EBD79C; margin-bottom:15px;  line-height:42px; font-size:18px; }
.mingzhuPage1{ margin-bottom:0px; margin-top:10px; width:80%;   border-right:1px solid #ccc;  border-left:1px solid #ccc;}

.returnIndex, .prevPage, .nextPage, .prevPage1, .nextPage1,.www4{width:30%;float:left;height:42px; line-height:42px; font-size:18px; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-shadow:1px 1px #fff}
.returnIndex{ border-right:1px solid #ccc; border-left:1px solid #ccc; }

.mingzhuPage1,.nextPage1,.www4{ border-right:0px;}
.mingzhuPage1 a,.nextPage1 a,www4 a,.mingzhuPage a{width:33%;float:left;height:42px; line-height:42px; font-size:18px; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-shadow:1px 1px #fff}
.returnIndex {display:block;font-size:18px;line-height:42px;text-align:center; font-weight:bold; color:#CC0000;}
.prevPage {display:block;font-size:18px;line-height:42px;text-align:center; font-weight:bold; color:#CC0000;}
.nextPage {display:block;font-size:18px;line-height:42px;text-align:center; font-weight:bold; color:#CC0000;}
 .prevPage1 {display:block;font-size:18px;line-height:42px;text-align:center; font-weight:bold; color:#CC0000;}
.www4 {display:block;font-size:18px;line-height:42px;text-align:center; font-weight:bold; color:#CC0000;}

.mingzhuPage a:hover{color:red}
.daohang{ padding:0 5px; height:30px; width:90%;  overflow:hidden; line-height:30px;}
.p10{ padding:0 10px;}
.article_ad1{ width:100%; overflow:hidden;}

.tj{padding:5px 0px;}
.tj img{float:left;margin:0px 2px;}
.fenlei{ padding:5px; background:#EDF0FF; font-size:12px; color:#666;}
.fenlei a{ display:inline-block; height:32px; line-height:32px; margin:0 10px; font-size:14px; color:#3366CC;}
.footer{ padding:5px;  text-align:center; color:#666; background:#eee;}
.footer p{ height:24px; line-height:24px; }
.footer a{ color:#620606;}

.myPage{border:1px solid #ccc;padding:10px;width:250px;margin-left:auto;margin-right:auto;display:block;clear:both;text-align:center;background:#FFFFC8;margin-bottom:10px}.myPage a{color:#333;display:inline-block;padding:2px 7px;border:1px solid #ccc;margin:0 3px;background:#fff;line-height:20px}.myPage a.thisclass{color:#fff;border:1px solid #f30;background:#f60}

.list,.yd{padding:5px;}
.list span{padding-right:8px;}
.btit{background:#e7e7e7;border-bottom:1px solid #c6c6c6;padding:2px 0px 2px 5px;}
.bot{padding:5px 3px;}
.bot a{margin:0px 3px;}
.dh{background:#CDF5D3;padding:2px 0px 0px 2px;}
.dl{padding:6px 0px 5px 4px;}
.dl h4{padding:3px 0px;}
.dl input{margin:3px 0px;}
.xy{padding:10px 2px 8px 2px;}
.xy h1{text-align:center;}
.bookshelf{padding-left:3px;}
.bookshelf p{padding:5px 0px;}
.bookshelf p span{font-size:12px;}
.yd h3{padding:3px 0px;}
.pl{background:#fff7df;padding:2px 0px 2px 5px;margin-bottom:6px;}
.hz{padding:5px 0px 10px 5px;}
.hz h1{color:#620606;}
.dashline{border-bottom:1px dashed #ccc;}
.plbot{padding:5px;background:#f3f3f3;}
.bddh{background:#e9f8fe;padding:3px 0px 3px 5px;}
.yd p,.xy p{text-indent:28px;}
.bnt_vipwidth{clear:both; font-weight:bold;margin-top:2px;font-size:16px;}

.index_list a{ display:block; height:38px; line-height:38px; font-size:16px; border-bottom:1px solid #ccc; padding:0 10px; overflow:hidden; }
.index_list a i{ font-family:Verdana, Geneva, sans-serif; float:right; font-weight:bold; font-size:16px; color:#666;}

.dede_pages{ display:block;}
.pagelist{ display:block; font-size:0; line-height:0; margin:5px auto 5px;}
.pagelist li{ list-style:none; display:inline-block; height:32px; line-height:32px; padding:0 10px; font-size:15px; border:1px solid #ccc; margin:0 2px; margin-bottom:5px;}
.pagelist li.thisclass{ border:1px solid #396A4F; background:#8E7A55; font-weight:bold; color:#fff;}
.pagelist li.thisclass a{ color:#fff; font-weight:bold;}

 .fixad{ position: fixed; bottom:0px; left:0; z-index:99; background:#FFF;}
.bdfenxiang{ text-align:center; padding:0 30px;}
.bdsharebuttonbox{ margin-left:auto; margin-right:auto;width:200px;}
.bookIndex{ overflow:hidden; width:100%; list-style:none; margin:0px; padding:0px;}
.bookIndex li{ width:110px; margin:10px 0 10px 5px; padding:1px; height:150px; position:relative; background:#fff; border:1px solid #eee; float:left; list-style:none; }
.bookIndex li .ablum{ width:110px; height:150px; overflow:hidden; display:inline-block; text-align:center; }
.bookIndex li .ablum img{ height:150px;}
.bookIndex li .text{ width:110px; position:absolute; left:1px; bottom:1px; padding:5px 0; line-height:16px; color:#f30; text-align:center; background:#F9F5D7; display:block; font-size:12px;}

/*훱*/
.pageliste_body{clear:both;height:36px}
.pageliste_left{float:left}
.pageliste_middle{}
.pageliste_right{float:right}
.pageliste_word{color:#b0251e;font-weight:bold;}
.pagelist_curr{color:#b0251e;font-weight:bold;}
.pagelist_input{}
.pagelist_btn{}

.banquan{ padding:5px; font-size:14px; font-weight:bold; color:#D50000; background:#F1E1B6;}

.addpv{ margin:10px auto; text-align:center;}
.addpv a{ display:inline-block; padding:10px; margin-left:10px; font-weight:bold; font-size:15px; color:#fff; background:#FE9D2A; font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu; }

.bookDes{ display:block; overflow:hidden; padding:5px; background:#FCE6CF; }
.bookDes .ablum{ width:120px; float:left; margin-right:10px; border:1px solid #C7BDEE; display:inline-block; background:#FFF; }
.bookDes .ablum img{ width:120px; }
.bookDes .text{  display:inline; width:auto; }
.bookDes .text p{ font-size:13px; line-height:150%; text-indent:2em;}

.articleTitle22{background:#F1E1B6; height:32px; line-height:32px; border-bottom:1px solid #D7C181; border-top:1px solid #D7C181; overflow:hidden; padding:0 5px 0 0;}
.articleTitle22 .articleH22{line-height:normal;color:#D50000; float:left; margin:0; padding:0; font-style:normal; display:inline-block;  height:32px; line-height:32px; margin-right:15px; background:#fff; padding:0 10px; font-size:13px; font-weight:bold; border-left:5px solid #8E7A55;}
.articleTitle22 span{font-weight:normal;padding-left:8px; float:right; display:inline-block; line-height:32px; text-decoration:underline;}

.booklist{ padding:10px 5px 5px; display:block; overflow:hidden; margin:0x;}
.booklist li{ width:110px; float:left; margin:0 2px 10px; overflow:hidden; border:1px solid #D7C181; background:#F1E1B6;   }
.booklist li .ablum{ width:110px; height:140px; display:block; overflow:hidden; text-align:center; vertical-align:middle; background:#fff; }
.booklist li .ablum img{ width:110px; vertical-align:middle;}
.booklist li .text{ width:110px; height:24px; line-height:24px; text-align:center; display:block; overflow:hidden;}
.line{ width:100%; height:24px; line-height:24px;  background: url(../images/line.png)  no-repeat center; margin-bottom:10px; margin-top:10px;}
.baiduadm {
	width:100%; text-align:center;
}
.btnclose {
	position: absolute;
	z-index:99999;
	right: 5px;
	top: 5px;
	display: none;
	padding:3px;
	width: 15px;
	height: 15px;
	background: url(../../3g.sbkk8.com/images/icon_close.png) 50% 50% / 16px no-repeat;
}
.fix .btnclose {
	display:inline-block
}
.bottom {
	bottom:0;
	left:0;
}
.fix {
	position:fixed;
	z-index:2;
}
.backblack {
	background:#fff
}
.jdbuy{ display:block; margin:10px auto;}
.buyBtn{ height:32px; line-height:32px; padding:0 10px; text-indent:0px; display:inline-block; background:#DF3033; font-size:15px; font-weight:bold; border-radius:3px; color:#FFF; }
a.buyBtn:hover{color:#FFF;}
a.buyBtn:visited{ color:#FFF;}

.h33{ display:block; color:#CC0000; font-size:16px; margin:0px; padding:0px 0px 0px 10px ; height:36px; line-height:36px; font-family:"Microsoft YaHei", 풕턼환쥌, "Microsoft JhengHei", 짉풳핒쥌, STHeiti, MingLiu;  }